@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto&display=swap');

:root {
    --bgcolor: #f1f1f1;
    --leftColor: #fff;
    --rightTopColor: #009999;
    --rightBottomColor: #00cccc;
}

.bodyy {
    background-color: var(--bgcolor);
    padding-top: 5%;
    padding-bottom: 5%;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    opacity: 85%;
    color: var(--rightTopColor);
    font-weight: 400;
}

p, li {
    font-size: 0.9rem;
}

.bharathi{
    font-size: 2rem;
    font-family: 'Cinzel', serif;
}
.role {
    font-size: 1rem;
}

.roleat {
    margin-top: -3%;
    font-size: 0.8rem;
}
.container {
    background-color: var(--leftColor);
    box-shadow: 0.1px 0.1px 10px 0.3px rgba(0,0,0,0.50);
}

.right-top {
    margin: 0 -12px;
    padding: 1rem 2rem;
    background-color: var(--rightTopColor);
}

.right, .left {
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 768px) {
    .bodyy {
        padding: 0;
    }
    .total {
        display: flex;
        flex-direction: column-reverse;
    }
}

hr {
    margin: auto;
    color: #35869A;
}
/* div.right > a:link, a:visited {
    color: #fff;
    text-decoration: none;
} */

.left {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.academic-profile p {
    font-size: 0.9rem;
}

.ap-interests {
    padding-left: 2%;
}
.right{
    background-color: var(--rightBottomColor);
    color: #fff;
}

.right-bottom {
    padding-left: 2%;
}

.social-links {
    padding-top: 5%;
}

.social-link {
    padding-top: 1.5%;
}

.links {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--leftColor);
    margin-left: 2%;
}

.links:hover {
    text-decoration: none;
    color: #fff;
}

.links2 {
    text-decoration: none;
    color: #000;
}

.links2:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.links3 {
    text-decoration: none;
    color: var(--rightTopColor);
}

.links3:hover {
    text-decoration: none;
    color: var(--rightTopColor);
}

.university {
    margin-top: -1%;
    font-size: 0.8rem;
    color: var(--rightTopColor);
}

.education .year {
    margin-top: -3%;
    font-size: 0.8rem;
    color: #F5F5F5;
}


.education .score {
    margin-top: -3%;
    font-size: 0.8rem;
}

.skills, .interests {
    font-size: 0.9rem;
}

.languages small{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    margin-top: 1%;
}

.year {
    color: var(--rightTopColor);
    font-size: 0.8rem;
    font-style: italic;

}

.project, .activities, .academic-profile, .experience, .publication, .honour {
    padding-top: 1.5%;
}

.contributors, .awardsInstitute {
    color: var(--rightTopColor);
    position: relative;
    top: -5px;
}

.awardText {
    margin-top: -1%;
}

.cardss {
    display: flex;
    justify-content: space-evenly;
}

.right-bottom .university {
    color: var(--bgcolor);
}

.hr-hr {
    width: 50%;
    margin-left: 0;
}

.referenceDiv {
    text-align: left;
    padding: 25px 25px;
    border: 1px solid var(--bgcolor);
    box-shadow: 0.1px 0.1px 10px 0.3px var(--bgcolor);
}